.overlay {
    background: -webkit-linear-gradient(-45deg, rgba(187, 78, 117, .9), rgba(255, 157, 108, .9));
    background: -moz-linear-gradient(-45deg, rgba(187, 78, 117, .9), rgba(255, 157, 108, .9));
    background: -ms-linear-gradient(-45deg, rgba(187, 78, 117, .9), rgba(255, 157, 108, .9));
    background: -o-linear-gradient(-45deg, rgba(187, 78, 117, .9), rgba(255, 157, 108, .9));
    background: linear-gradient(-45deg, rgba(187, 78, 117, .9), rgba(255, 157, 108, .9));
}
nav.fixed-top .nav-item .nav-link:before {
    background-color:#d97171;
}
nav.fixed-top .nav-item .nav-link:after {
    background-color:#d97171
}
.success-stroke {
    stroke: #d97171;
}
.service-icon-shedow i {
    color: #d97171;
}
.portfolio .portfolio-section .item .portfolio-item:before {
    background: linear-gradient(-45deg, rgba(187, 78, 117, .9), rgba(255, 157, 108, .9));
}
.main-timeline .timeline:hover .title {
    color:#d97171;
}
.main-timeline .date {
    color: #d97171;
}
.timeline-icon:after {
    background: #d97171;
}
.main-timeline .timeline:nth-child(2n) .timeline-icon:after {
   background:#d97171;
}
.counter-img i {
    font-size: 40px;
    color: #d97171;
}
.blog-post-wrapper-div:hover {
    border-color:#d97171;
}
ul.list-unstyled.list-inline.post-metadata li {
    color: #d97171;
}
a.blog-btn {
    background: linear-gradient(-45deg, rgba(187, 78, 117, .9), rgba(255, 157, 108, .9));
}
a.blog-btn:hover {
    background: #fff;
    color:#d97171;
}
a.page-link.active {
    background: linear-gradient(-45deg, rgba(187, 78, 117, .9), rgba(255, 157, 108, .9));
    color: #ffffff;
}
.pagination-div .page-link {
    border: 1px solid #d97171;
}
.submit.div-btn {
    background: linear-gradient(-45deg, rgba(187, 78, 117, .9), rgba(255, 157, 108, .9));
}
.submit.div-btn:hover {
    background: transparent;
    color: #d97171;
}
section.info.pt-50.pb-50 {
    background: linear-gradient(-45deg, rgba(187, 78, 117, .9), rgba(255, 157, 108, .9));
}
.contact-icon i {
    color: #d97171;
}
footer {
    background: rgb(92, 42, 52);
    padding: 30px 0px;
}
.footer-social i {
    color:#d97171;
}
/*blog page*/
.blog-sidebar .widget > h3:after {
background-color: #d97171;
}
.blog-details-post .entry-meta li i {
color: #d97171;
}
.blog-details-post .entry-body blockquote {
    border-color: #d97171;
}
.blog-details-post .comments-area .comment-author-metadata img {
    border: 3px solid #d97171;
}
.blog-sidebar .search-widget button:hover {
    color: #d97171;
}
.blog-sidebar .categories-widget ul li a:hover {
    color: #d97171;
}
.blog-sidebar .recent-posts-widget h4 a:hover {
    color:  #d97171;
}
.blog-sidebar .recent-posts-widget .date {
    color: #d97171;
}
.blog-sidebar .tags-widget div > a:hover {
    background-color: #d97171;
    border-color: #d97171;
}
.slider-area .owl-dot.active {
background:#883030;
}
.project-details-title h6 {
    color:  #d97171;
}
.project-features ul li i {
    color: #d97171;
}
.portfolio .port-filter ul li.filter-item {
    border-bottom: 3px solid  #d97171;
}
  .success {
  background: #d97171;
  }